# Core
pytz
Django
django-configurations
gunicorn
newrelic

# For the persistence stores
psycopg2-binary
dj-database-url

# Model Tools
django-model-utils
django_unique_upload

# Rest apis
djangorestframework
Markdown
django-filter

# Developer Tools
ipdb
ipython
mkdocs
flake8

# Testing
mock
factory-boy
django-nose
nose-progressive
coverage

# Static and Media Storage
django-storages
boto3
##environ
django-environ
#gevent worker
django-cors-headers
gevent

six